alembic==0.9.6
amqp==2.2.2
amqplib==1.0.2
ansible==2.4.1.0
anyjson==0.3.3
apache-libcloud==2.2.1
argparse==1.4.0
astroid==1.5.3
awscli==1.11.180
babel==2.5.1
backports.ssl_match_hostname==3.5.0.1
bcdoc==0.16.0
beautifulsoup4==4.6.0
beautifulsoup==3.2.1
billiard==3.5.0.3
blessings==1.6
blinker==1.4
boto==2.48.0
botocore==1.7.38
bottle==0.12.13
carbon==1.0.2
celery==4.1.0
certifi==2017.7.27.1
cffi==1.11.2
chardet==3.0.4
click==6.7
cliff==2.9.1
cmd2==0.7.7
colorama==0.3.9
configobj==5.0.6
cov-core==1.15.0
coverage==4.4.1
coveralls==1.2.0
crcmod==1.7
cryptography==2.1.3
cssselect==1.0.1
cython==0.27.2
decorator==4.1.2
django-celery==3.2.1
django-debug-toolbar==1.8
django-extensions==1.9.7
django==1.11.7
django_compress==1.0.1
djangorestframework==3.7.1
docker-py==1.10.6
docopt==0.6.2
docutils==0.14
ecdsa==0.13
elasticsearch==5.4.0
enum34==1.1.6
eventlet==0.21.0
extras==1.0.0
fabric==1.14.0
fixtures==3.0.0
flake8==3.5.0
flask==0.12.2
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.1.1
gevent==1.2.2
google-api-python-client==1.6.4
graphite-web==1.0.2
greenlet==0.4.12
gunicorn==19.7.1
hiredis==0.2.0
honcho==1.0.1
html5lib==0.999999999
httplib2==0.10.3
idna==2.6
ipaddress==1.0.18
iso8601==0.1.12
isodate==0.6.0
itsdangerous==0.24
jinja2==2.9.6
jmespath==0.9.3
jsonschema==2.6.0
kombu==4.1.0
linecache2==1.0.0
logilab-common==1.4.1
lxml==4.1.0
m2crypto==0.27.0
mako==1.0.7
manifestparser==1.1
markdown==2.6.9
markupsafe==1.0
matplotlib==2.1.0
mccabe==0.6.1
meld3==1.0.2
mock==2.0.0
mozcrash==1.0
mozdevice==0.50
mozfile==1.2
mozinfo==0.10
mozlog==3.5
moznetwork==0.27
mozprocess==0.25
mozprofile==0.28
mozrunner==6.13
msgpack-python==0.4.8
mysql-python==1.2.5
ndg-httpsclient==0.4.3
netaddr==0.7.19
netifaces==0.10.6
newrelic==2.96.0.80
nose==1.3.7
numpy==1.13.3
oauth2==1.9.0.post1
oauth2client==4.1.2
oauthlib==2.0.6
ordereddict==1.1
oslo.config==5.0.0
pandas==0.21.0
paramiko==2.3.1
passlib==1.7.1
paste==2.0.3
pastedeploy==1.5.2
pastescript==2.0.2
pbr==3.1.1
pep8==1.7.1
pexpect==4.2.1
pika==0.11.0
pillow==4.3.0
pip==9.0.1
prettytable
protobuf==3.4.0
psutil==5.4.0
psycopg2==2.7.3.2
py==1.4.34
pyasn1-modules==0.1.5
pyasn1==0.3.7
pycparser==2.18
pycrypto==2.6.1
pycurl==7.43.0
pyflakes==1.6.0
pygments==2.2.0
pyjwt==1.5.3
pylibmc==1.5.2
pylint==1.7.4
pymongo==3.5.1
pymysql==0.7.11
pyopenssl==17.3.0
pyparsing==2.2.0
pyramid==1.9.1
pystache==0.5.4
pytest-cov==2.5.1
pytest==3.2.3
python-cjson==1.2.1
python-daemon==2.1.2
python-dateutil==2.6.1
python-gflags==3.1.2
python-keystoneclient==3.13.0
python-memcached==1.58
python-mimeparse==1.6.0
python-novaclient==9.1.0
python-subunit==1.2.0
python-swiftclient==3.4.0
pytz==2017.3
pyyaml==3.12
pyzmq==16.0.3
raven==6.3.0
redis==2.10.6
repoze.lru==0.7
requests-oauthlib==0.8.0
requests==2.18.4
retrying==1.3.3
rsa==3.4.2
scipy==1.0.0
selenium==3.7.0
setuptools-git==1.2
setuptools==36.6.0
sh==1.12.14
simplejson==3.11.1
six==1.11.0
snowballstemmer==1.2.1
south==1.0.2
sphinx==1.6.5
sqlalchemy-migrate==0.11.0
sqlalchemy==1.1.14
sqlparse==0.2.4
statsd==3.2.1
stevedore==1.27.1
suds==0.4
supervisor==3.3.3
testrepository==0.0.20
testtools==2.3.0
thrift==0.10.0
tornado==4.5.2
tox==2.9.1
twisted==17.9.0
ujson==1.35
unidecode==0.4.21
unittest2==1.1.0
uritemplate==3.0.0
urllib3==1.22
uwsgi==2.0.15
versiontools==1.9.1
virtualenv==15.1.0
waitress==1.1.0
warlock==1.3.0
webob==1.7.3
websocket-client==0.44.0
webtest==2.0.29
werkzeug==0.12.2
wheel==0.30.0
xlrd==1.1.0
zc.buildout==2.9.5
zope.interface==4.4.3
