simplejson
setuptools
six
requests
virtualenv
pip
distribute
python-dateutil
certifi
boto
pbr
#wincertstore
docutils
pyasn1
pyyaml
jinja2
markupsafe
pytz
nose
lxml
pycrypto
rsa
colorama
botocore
cffi
awscli
coverage
jmespath
pycparser
pika
django
psycopg2
paramiko
ecdsa
sqlalchemy
mock
redis
werkzeug
selenium
bcdoc
supervisor
pep8
httplib2
flask
pymongo
zc.buildout
psutil
mysql-python
argparse
carbon
pygments
babel
paste
anyjson
meld3
# ssl (already included in standard library)
cryptography
py
tornado
pyopenssl
greenlet
kombu
graphite-web
docopt
mako
itsdangerous
pillow
wheel
beautifulsoup4
enum34
pyflakes
zope.interface
decorator
futures
pastedeploy
ordereddict
setuptools-git
fabric
backports.ssl_match_hostname
amqp
numpy
sphinx
iso8601
flake8
celery
pyparsing
mccabe
stevedore
pytest
webob
gunicorn
urllib3
billiard
jsonschema
msgpack-python
gevent
logilab-common
unittest2
prettytable
pylint
blessings
south
mozrunner
netaddr
oslo.config
twisted
ipaddress
ujson
moznetwork
mozdevice
mozprofile
mozprocess
mozfile
mozinfo
html5lib
mozlog
mozcrash
oauthlib
idna
ipython
tox
astroid
google-api-python-client
pycurl
isodate
python-keystoneclient
websocket-client
markdown
python-mimeparse
python-daemon
raven
suds
oauth2client
cython
eventlet
netifaces
repoze.lru
thrift
sqlparse
ndg-httpsclient
djangorestframework
python-novaclient
testtools
alembic
uritemplate
statsd
python-memcached
coveralls
funcsigs
configobj
linecache2
extras
beautifulsoup
# scikit-learn
cliff
oauth2
# pycups
cmd2
unidecode
newrelic
python-gflags
cov-core
pytest-cov
fixtures
pyasn1-modules
python-swiftclient
django-debug-toolbar
elasticsearch
webtest
docker-py
python-subunit
retrying
django-extensions
pystache
waitress
pexpect
blinker
scipy
requests-oauthlib
protobuf
manifestparser
passlib
ansible
click
versiontools
django_compress
pyzmq
chardet
xlrd
snowballstemmer
testrepository
pandas
functools32
python-cjson
pastescript
warlock
sqlalchemy-migrate
django-celery
uwsgi
cssselect
# Hand selected
matplotlib
pymysql
amqplib
sh
m2crypto
apache-libcloud
hiredis
bottle
pyramid
pyjwt
pylibmc
