simplejson
six
requests
virtualenv
pip
certifi
docutils
pyasn1
pyyaml
jinja2
markupsafe
pytz
nose
lxml
pycrypto
rsa
colorama
cffi
pycparser
django
psycopg2
ecdsa
sqlalchemy
mock
redis
werkzeug
pep8
httplib2
flask
pymongo
zc.buildout
psutil
argparse
carbon
pygments
babel
paste
anyjson
cryptography
py
tornado
pyopenssl
greenlet
kombu
docopt
mako
itsdangerous
pillow
wheel
beautifulsoup4
pyflakes
zope.interface
decorator
futures
pastedeploy
setuptools-git
amqp
numpy
sphinx
iso8601
flake8
celery
pyparsing
mccabe
stevedore
pytest
webob
gunicorn
urllib3
billiard
jsonschema
msgpack-python
gevent
logilab-common
prettytable
pylint
blessings
south
netaddr
oslo.config
twisted
ipaddress
ujson
html5lib
oauthlib
idna
ipython
tox
astroid
google-api-python-client
pycurl
isodate
python-keystoneclient
websocket-client
markdown
python-mimeparse
python-daemon
raven
oauth2client
cython
eventlet
netifaces
repoze.lru
thrift
sqlparse
ndg-httpsclient
djangorestframework
python-novaclient
testtools
alembic
uritemplate
statsd
python-memcached
coveralls
funcsigs
configobj
linecache2
extras
cliff
oauth2
cmd2
unidecode
newrelic
python-gflags
cov-core
pytest-cov
fixtures
pyasn1-modules
python-swiftclient
django-debug-toolbar
elasticsearch
webtest
docker-py
python-subunit
retrying
django-extensions
pystache
waitress
pexpect
blinker
scipy
requests-oauthlib
protobuf
manifestparser
passlib
ansible
click
versiontools
django_compress
pyzmq
chardet
xlrd
snowballstemmer
testrepository
pandas
pastescript
warlock
sqlalchemy-migrate
django-celery
cssselect
# Hand selected
matplotlib
pymysql
amqplib
sh
m2crypto
apache-libcloud
hiredis
bottle
pyramid
pyjwt
pylibmc
